@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root{
  --orangred: #ff4500;
  --orange:  #fc5b23;
  --grey: #666;
  --lightgrey: #dddddd;
  --darkgrey: #2f2f2f;
  --darkgrey2: #181818;
  --black2: #080b0c;
  --red: #d6436e;
  --red2: #dc2626;
  --green2: #25da72;
  --green: #33cc66;
  --blue: #03172C;
  --blue2: #18395B;
  --cyan: #14ffec;
}

