:root{
  --orangred: #ff4500;
  --orange:  #fc5b23;
  --grey: #666;
  --darkgrey: #2f2f2f;
  --darkgrey2: #181818;
  --black2: #080b0c;
  --red: #d6436e;
  --green: #25da72;
  --blu: #0045e6;
  --blu2: #001fe6;
  --cyan: #14ffec;
}

